.git
.gitignore
.env
.env.*
vendor
tests
*.log
.phpunit.result.cache
phpunit.xml
phpunit.xml.dist
.editorconfig
README*
CHANGELOG*
storage/logs
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
